{% extends 'Guest/Header.html' %}
{% load static %}

{% block content %}
<div class="page-title dark-background" data-aos="fade">
  <div class="container position-relative">
    <h1>Login</h1>
    <p>Welcome back! Please enter your credentials to access your SheBuilds account.</p>
  </div>
</div>

<section id="login-section" class="contact section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        
        <div class="card shadow-sm border-0 p-4 p-md-5">
          <form action="" method="post">
            {% csrf_token %}
            
            <div class="mb-4">
              <label for="email" class="form-label fw-bold">Email Address</label>
              <input type="email" name="txt_email" class="form-control" id="email" placeholder="Enter Email" required>
            </div>

            <div class="mb-4">
              <label for="pass" class="form-label fw-bold">Password</label>
              <input type="password" name="txt_pass" class="form-control" id="pass" 
                     title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
                     placeholder="Enter Password" required>
            </div>
            <!-- <div class="text-center">
              <!-- <input type="submit" class="btn btn-primary w-100 py-2 mb-3" style="background: var(--accent-color); border: none;" value="Login"> -->
              <!-- <button type="Submit" class="btn btn-outline-secondary w-100 py-2 mb-4">ForgetPassword</button>
            <!-- </div> -->  
            <div class="text-center">
              <input type="submit" class="btn btn-primary w-100 py-2 mb-3" style="background: var(--accent-color); border: none;" value="Login">
              <button type="reset" class="btn btn-outline-secondary w-100 py-2 mb-4">Cancel</button>
            </div>

            <div class="text-center mt-3">
              <p class="small text-muted">Don't have an account? 
                <a href="{% url 'Guest:UserRegistration' %}" style="color: var(--accent-color); text-decoration: none; font-weight: 600;">Register here</a></p>
               
            </div>
            

          </form>
        </div>

      </div>
    </div>
  </div>
</section>
{% if msg %}
<script>
  alert("{{msg}}")
  window.location = "{% url 'Guest:Login' %}"
</script>
{% endif %}
{% endblock content %}