{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="flexilecode" />
    <title>SheBuilds || Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Admin/assets/images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Admin/assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Admin/assets/vendors/css/vendors.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Admin/assets/vendors/css/daterangepicker.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Admin/assets/css/theme.min.css' %}" />
</head>

<body>
    <nav class="nxl-navigation">
        <div class="navbar-wrapper">
            <div class="m-header">
                <a href="index.html" class="b-brand">
                    <h3>SheBuilds</h3>
                    <!-- <img src="{% static 'Admin/assets/images/logo-full.png' %}" alt="" class="logo logo-lg" />
                    <img src="{% static 'Admin/assets/images/logo-abbr.png' %}" alt="" class="logo logo-sm" /> -->
                </a>
            </div>
            <div class="navbar-content">
                <ul class="nxl-navbar">
                    <li class="nxl-item nxl-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nxl-item nxl-hasmenu1">
                        <a href="{% url 'Admin:HomePage' %}" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-send"></i></span>
                            <span class="nxl-mtext">Dashboard</span><span class="nxl-arrow"></i></span>
                        </a>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-airplay"></i></span>
                            <span class="nxl-mtext">Location</span><span class="nxl-arrow"><i
                                    class="feather-chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{% url 'Admin:District' %}">District</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{% url 'Admin:Place' %}">Place</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{% url 'Admin:LocalPlace' %}">LocalPlace</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-cast"></i></span>
                            <span class="nxl-mtext">Messages</span><span class="nxl-arrow"><i
                                    class="feather-chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="{% url 'Admin:ViewComplaint' %}"> View
                                    Complaint</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{% url 'Admin:ViewFeedback' %}"> View
                                    Feedback</a></li>

                        </ul>
                    </li>

                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-at-sign"></i></span>
                            <span class="nxl-mtext">Department</span><span class="nxl-arrow"><i
                                    class="feather-chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link"
                                    href="{% url 'Admin:AuthorityType' %}">AuthorityType</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="{% url 'Admin:Ward' %}"> Ward</a></li>

                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        </div>
    </nav>
    <header class="nxl-header">
        <div class="header-wrapper">
            <div class="header-left d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="nxl-head-mobile-toggler" id="mobile-collapse">
                    <div class="hamburger hamburger--arrowturn">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </a>
                <div class="nxl-navigation-toggle">
                    <a href="javascript:void(0);" id="menu-mini-button">
                        <i class="feather-align-left"></i>
                    </a>
                    <a href="javascript:void(0);" id="menu-expend-button" style="display: none">
                        <i class="feather-arrow-right"></i>
                    </a>
                </div>
                <div class="nxl-lavel-mega-menu-toggle d-flex d-lg-none">
                    <a href="javascript:void(0);" id="nxl-lavel-mega-menu-open">
                        <i class="feather-align-left"></i>
                    </a>
                </div>
            </div>
            <div class="header-right ms-auto">
                <div class="d-flex align-items-center">
                    <div class="dropdown nxl-h-item nxl-header-language d-none d-sm-flex">
                        <a href="javascript:void(0);" class="nxl-head-link me-0 nxl-language-link"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <img src="assets/vendors/img/flags/4x3/us.svg" alt="" class="img-fluid wd-20" />
                        </a>
                    </div>
                    <div class="nxl-h-item d-none d-sm-flex">
                        <div class="full-screen-switcher">
                            <a href="javascript:void(0);" class="nxl-head-link me-0"
                                onclick="$('body').fullScreenHelper('toggle');">
                                <i class="feather-maximize maximize"></i>
                                <i class="feather-minimize minimize"></i>
                            </a>
                        </div>
                    </div>
                    <div class="dropdown nxl-h-item">
                        <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button"
                            data-bs-auto-close="outside">
                            <img src="{% static 'Admin/assets/images/img2.jpg.png' %}" alt="user-image"
                                class="img-fluid user-avtar me-0" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-end nxl-h-dropdown nxl-user-dropdown">
                            <a href="{% url 'Admin:logout' %}" class="dropdown-item">
                                <i class="feather-log-out"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="nxl-container">
        <div class="nxl-content">
            <div class="main-content">
                <div class="row">

                    {% block content %}

                    {% endblock content %}

                    <script src="{% static 'Admin/assets/vendors/js/vendors.min.js' %}"></script>
                    <script src="{% static 'Admin/assets/vendors/js/daterangepicker.min.js' %}"></script>
                    <script src="{% static 'Admin/assets/vendors/js/apexcharts.min.js' %}"></script>
                    <script src="{% static 'Admin/assets/vendors/js/circle-progress.min.js' %}"></script>
                    <script src="{% static 'Admin/assets/js/common-init.min.js' %}"></script>
                    <script src="{% static 'Admin/assets/js/dashboard-init.min.js' %}"></script>
                    <script src="{% static 'Admin/assets/js/theme-customizer-init.min.js' 5}"></script>
</body>

</html>